.wrapper {
    display: grid;
    align-items: justify;
    gap: 1rem;
}

.input-url {
    padding: .6rem .8rem;
    font-size: 1.125rem;
    border-radius: 6px;
    border: 0;
}

.input-url:focus-within {
    outline: 1px solid white;
}

button {
    font-size: 1.125rem;
}

button:disabled {
    cursor: not-allowed;
}